<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sise.house.house.biz.dao.HouseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sise.house.house.biz.pojo.HouseDetail" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="layout_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="traffic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="round_service" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subway_line_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="subway_line_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subway_station_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="subway_station_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="house_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, description, layout_desc, traffic, round_service, address, subway_line_id, subway_line_name, 
    subway_station_id, subway_station_name, house_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sise.house.house.biz.pojo.HouseDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from house_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from house_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sise.house.house.biz.pojo.HouseDetailExample" >
    delete from house_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sise.house.house.biz.pojo.HouseDetail" >
    insert into house_detail (id, description, layout_desc, 
      traffic, round_service, address, 
      subway_line_id, subway_line_name, subway_station_id, 
      subway_station_name, house_id)
    values (#{id,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, #{layoutDesc,jdbcType=VARCHAR}, 
      #{traffic,jdbcType=VARCHAR}, #{roundService,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{subwayLineId,jdbcType=BIGINT}, #{subwayLineName,jdbcType=VARCHAR}, #{subwayStationId,jdbcType=BIGINT}, 
      #{subwayStationName,jdbcType=VARCHAR}, #{houseId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sise.house.house.biz.pojo.HouseDetail" >
    insert into house_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="layoutDesc != null" >
        layout_desc,
      </if>
      <if test="traffic != null" >
        traffic,
      </if>
      <if test="roundService != null" >
        round_service,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="subwayLineId != null" >
        subway_line_id,
      </if>
      <if test="subwayLineName != null" >
        subway_line_name,
      </if>
      <if test="subwayStationId != null" >
        subway_station_id,
      </if>
      <if test="subwayStationName != null" >
        subway_station_name,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="layoutDesc != null" >
        #{layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null" >
        #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="roundService != null" >
        #{roundService,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null" >
        #{subwayLineId,jdbcType=BIGINT},
      </if>
      <if test="subwayLineName != null" >
        #{subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="subwayStationId != null" >
        #{subwayStationId,jdbcType=BIGINT},
      </if>
      <if test="subwayStationName != null" >
        #{subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sise.house.house.biz.pojo.HouseDetailExample" resultType="java.lang.Integer" >
    select count(*) from house_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update house_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.layoutDesc != null" >
        layout_desc = #{record.layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.traffic != null" >
        traffic = #{record.traffic,jdbcType=VARCHAR},
      </if>
      <if test="record.roundService != null" >
        round_service = #{record.roundService,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.subwayLineId != null" >
        subway_line_id = #{record.subwayLineId,jdbcType=BIGINT},
      </if>
      <if test="record.subwayLineName != null" >
        subway_line_name = #{record.subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="record.subwayStationId != null" >
        subway_station_id = #{record.subwayStationId,jdbcType=BIGINT},
      </if>
      <if test="record.subwayStationName != null" >
        subway_station_name = #{record.subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update house_detail
    set id = #{record.id,jdbcType=BIGINT},
      description = #{record.description,jdbcType=VARCHAR},
      layout_desc = #{record.layoutDesc,jdbcType=VARCHAR},
      traffic = #{record.traffic,jdbcType=VARCHAR},
      round_service = #{record.roundService,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      subway_line_id = #{record.subwayLineId,jdbcType=BIGINT},
      subway_line_name = #{record.subwayLineName,jdbcType=VARCHAR},
      subway_station_id = #{record.subwayStationId,jdbcType=BIGINT},
      subway_station_name = #{record.subwayStationName,jdbcType=VARCHAR},
      house_id = #{record.houseId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sise.house.house.biz.pojo.HouseDetail" >
    update house_detail
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="layoutDesc != null" >
        layout_desc = #{layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null" >
        traffic = #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="roundService != null" >
        round_service = #{roundService,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null" >
        subway_line_id = #{subwayLineId,jdbcType=BIGINT},
      </if>
      <if test="subwayLineName != null" >
        subway_line_name = #{subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="subwayStationId != null" >
        subway_station_id = #{subwayStationId,jdbcType=BIGINT},
      </if>
      <if test="subwayStationName != null" >
        subway_station_name = #{subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sise.house.house.biz.pojo.HouseDetail" >
    update house_detail
    set description = #{description,jdbcType=VARCHAR},
      layout_desc = #{layoutDesc,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      round_service = #{roundService,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      subway_line_id = #{subwayLineId,jdbcType=BIGINT},
      subway_line_name = #{subwayLineName,jdbcType=VARCHAR},
      subway_station_id = #{subwayStationId,jdbcType=BIGINT},
      subway_station_name = #{subwayStationName,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>