<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sise.house.house.biz.dao.HouseSupportAddressMapper" >
  <resultMap id="BaseResultMap" type="com.sise.house.house.biz.pojo.HouseSupportAddress" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="belong_to" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="en_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cn_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="baidu_map_lng" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="baidu_map_lat" jdbcType="DOUBLE" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, belong_to, en_name, cn_name, level, baidu_map_lng, baidu_map_lat
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from house_support_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_support_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from house_support_address
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddressExample" >
    delete from house_support_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddress" >
    insert into house_support_address (id, belong_to, en_name, 
      cn_name, level, baidu_map_lng, 
      baidu_map_lat)
    values (#{id,jdbcType=BIGINT}, #{belongTo,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{cnName,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{baiduMapLng,jdbcType=DOUBLE}, 
      #{baiduMapLat,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddress" >
    insert into house_support_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="belongTo != null" >
        belong_to,
      </if>
      <if test="enName != null" >
        en_name,
      </if>
      <if test="cnName != null" >
        cn_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="baiduMapLng != null" >
        baidu_map_lng,
      </if>
      <if test="baiduMapLat != null" >
        baidu_map_lat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="belongTo != null" >
        #{belongTo,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="baiduMapLng != null" >
        #{baiduMapLng,jdbcType=DOUBLE},
      </if>
      <if test="baiduMapLat != null" >
        #{baiduMapLat,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddressExample" resultType="java.lang.Integer" >
    select count(*) from house_support_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update house_support_address
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.belongTo != null" >
        belong_to = #{record.belongTo,jdbcType=VARCHAR},
      </if>
      <if test="record.enName != null" >
        en_name = #{record.enName,jdbcType=VARCHAR},
      </if>
      <if test="record.cnName != null" >
        cn_name = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.baiduMapLng != null" >
        baidu_map_lng = #{record.baiduMapLng,jdbcType=DOUBLE},
      </if>
      <if test="record.baiduMapLat != null" >
        baidu_map_lat = #{record.baiduMapLat,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update house_support_address
    set id = #{record.id,jdbcType=BIGINT},
      belong_to = #{record.belongTo,jdbcType=VARCHAR},
      en_name = #{record.enName,jdbcType=VARCHAR},
      cn_name = #{record.cnName,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      baidu_map_lng = #{record.baiduMapLng,jdbcType=DOUBLE},
      baidu_map_lat = #{record.baiduMapLat,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddress" >
    update house_support_address
    <set >
      <if test="belongTo != null" >
        belong_to = #{belongTo,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="baiduMapLng != null" >
        baidu_map_lng = #{baiduMapLng,jdbcType=DOUBLE},
      </if>
      <if test="baiduMapLat != null" >
        baidu_map_lat = #{baiduMapLat,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sise.house.house.biz.pojo.HouseSupportAddress" >
    update house_support_address
    set belong_to = #{belongTo,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      baidu_map_lng = #{baiduMapLng,jdbcType=DOUBLE},
      baidu_map_lat = #{baiduMapLat,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>